/* centering */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("../media/assignment3/soccer_background.jpeg");
    background-size: contain; */
  }
  
  /* proportion and perspective */
  #scene {
    width: 500px;
    height: 300px;
    perspective: 1100px;
  }
  
  .cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .face {
    position: absolute;
    width: 500px;
    height: 300px;
    text-align: center;
  }
  
  /* font */
  .face:nth-child(1) {
    transform: rotateY(0deg) translateZ(250px);
    background-image: url("../media/assignment3/soccerfield.jpeg");
    background-size: cover;
  }
  
  /* right */
  .face:nth-child(2) {
    transform: rotateY(90deg) translateZ(400px) translateX(-350px);
    background-image: url("../media/assignment3/fans.jpeg");
    background-size: cover;
  }
  
  /* back */
  .face:nth-child(3) {
    transform: rotateY(180deg) translateZ(-249px);
    background: rosybrown;
  }
  
  /* left */
  .face:nth-child(4) {
    transform: rotateY(-90deg) translateZ(100px) translateX(350px);
    background-image: url("../media/assignment3/fans.jpeg");
    background-size: cover;
  }
  
  /* top */
  .face:nth-child(5) {
    transform: rotateX(90deg) translateZ(100px) translateY(350px);
    background-image: url("../media/assignment3/fans.jpeg");
    background-size: cover;
  }
  
  /* bottom */
  .face:nth-child(6) {
    transform: rotateX(-90deg) translateZ(200px) translateY(-350px);
    background-image: url("../media/assignment3/fans.jpeg");
    background-size: cover;
  }

  #soccerBall {
    position: absolute;
    width: 100px;
    top: 105px;
    left: 200px;
  }
  /* #soccerBall {
    position: absolute;
    width: 200px;
    fill: black;
    height: auto;
    top: 105px;
    left: 200px;
  } */
  
  /* transition */
  .cube {
    transition-property: transform;
    transition-duration: 2s;
  }
  
  /* .cube:hover {
    transform: rotateY(180deg);
  } */
  
  .cube:active {
    transform:rotateX(25deg);
  }

  @keyframes firstHalf {
    0% {transform:  translate(0px, 0px);}
    25% {transform: translate(110px, 105px) rotate(0deg);}
    50% {transform: translate(190px, -115px) rotate(90deg);}
    75% {transform: translate(80px, 0px) rotate(360deg);}
    100% {transform: translate(200px, 0px);}
  }

  @keyframes secondHalf {
    0% {transform:  translate(200px, 0px);}
    25% {transform: translate(0px, 0px) rotate(0deg);}
    50% {transform: translate(-200px, 105px) rotate(90deg);}
    75% {transform: translate(-80px, 50px) rotate(360deg);}
    100% {transform: translate(-200px, 0px);}
  }
  #soccerBall {
    animation: 
      firstHalf 5s linear 0s 1 normal forwards,
      secondHalf 5s linear 5s 1 normal forwards;
  }

  @keyframes zoom {
    0% {transform: perspective(10000px);}
    25% {transform: perspective(5000px);}
    50% {transform: perspective(2000px);}
    75% {transform: perspective(1000px);}
    100% {transform: perspective(600px);}
  }
  .cube:hover {
    animation-name: zoom;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  
  
  /* animation */
  /* @keyframes spin {
    from {transform: rotateY(0deg) rotateX(0deg);}
    to {transform: rotateY(360deg) rotateX(360deg);}
  }
  
  .cube {
    animation-name: spin;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
  } */