@import url("https://fonts.googleapis.com/css?family=Roboto Condensed");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
  background-image: url(../media/campnou.webp);
  background-color: #cccccc;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.person1 {
  position: absolute;
  top: 80%;
  left: 20%;
}
.person2 {
  position: absolute;
  top: 80%;
  left: 10%;
}

.animated-image {
  animation: slideUpAndRight 3s ease-out infinite;
}

@keyframes slideUpAndRight {
  0% {
    transform: translateX(0) translateY(0) scale(1);
  }
  25% {
    transform: translateX(200px) translateY(0) scale(1);
  }
  50% {
    transform: translateX(500px) translateY(0) scale(1);
  }
  75% {
    transform: translateX(500px) translateY(-100px) scale(0.7);
  }
  100% {
    transform: translateX(500px) translateY(-200px) scale(0.4);
  }
}
