html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  flex-direction: column; 
}

body {
  flex-direction: row;
  overflow: hidden;
}

img {
  display: none;
}